<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.microservice.login.api.mapper.LoginUserMapper">
  <resultMap id="BaseResultMap" type="com.test.microservice.login.api.model.LoginUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_passwd" jdbcType="VARCHAR" property="loginPasswd" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="user_phone" jdbcType="CHAR" property="userPhone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, login_name, login_passwd, user_name, salt, user_status, user_phone, create_time, 
    user_type
  </sql>
</mapper>